@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.nav-items{
    gap: 20px;
    margin-right: 40px;
}
#heading{
    font-family:  'Anton', sans-serif;
    margin-left: 50px;
    letter-spacing: 2px;
}